
 






<nav class="navbar navbar-expand-lg navbar-light sticky-top  gradient shadow  ">
    
    
    <div class="container pt-5 ">
        <NavLink class="navbar-brand text-light mx-5" Match="NavLinkMatch.All" href="">

            WebShop
            <!-- <i class="fas fa-shopping-cart mx-4"></i>  -->
        </NavLink>
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center align-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <NavLink class="nav-link active text-light if-hover" aria-current="page" href="" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink class="nav-link text-light if-hover" href="AddProducts">Add Products</NavLink>
                <NavLink class="nav-link text-light if-hover" href="products">Products</NavLink>

            </div>
        </div>
    </div>
</nav>